body{
    background-color: #274454;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} 
button{
    margin-top: 100px;
    padding: 10px;
    margin-left: 40%;
    margin-bottom: 5%;
    padding:2px 10px 2px 10px;
    font-size: 300px;
    font-weight: 100;
    color: #274454;
    font-family:Arial, Helvetica, sans-serif;
    border-image: linear-gradient(to bottom, #69BB58, #198d83) 3;
}
button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #69BB58, #198d83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(to bottom, #69BB58, #198d83) 3;
}  
#lalao {
    max-width: 2000px;
    margin: 0 auto;
    text-align: center;
}
  
h2 {
    margin-top: 50px;
    color: #fd5c02;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
}
img{
  width:90px; 
  height:120px;
}
#iala{
    position: absolute;
    top: 50px;
    right: 50px;
}

  